[user]
	name = Evan Zeimet
	email = podnov@gmail.com
[include]
	path = ~/src/github.com/podnov/config/home/.gitconfig_shared
[core]
	excludesfile = ~/.gitignore
	filemode = false
[credential]
	helper = cache --timeout=300
